* {
    font-family: "Gill Sans MT";
    box-sizing: border-box;
}

body {
    margin: 10px;
}

header {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background: darkslategrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header>img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

header>div>a {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding-left: 5px;
    text-decoration: none;
}

.first-block {
    margin: 10px 0 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.first-block img {
    width: 100%;
}

.first-block div {
    text-align: justify;
}

.second-block {
    margin: 5px 0 5px 0;
}

.inside-block {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.inside-block img {
    width: 100%;
    text-align: justify;
}

.third-block {
    background: salmon;
    padding: 5px;
}

.third-block i {
    padding: 0 10px 0 0;
}

@media screen and (min-width: 780px) {

    .first-block {
        flex-direction: row;
        height: 30vh;
    }

    .first-block div {
        width: 100%;
        margin: 5px 5px 5px 0;
    }

    .first-block img {
        width: 100%;
        height: 100%;
        margin: 5px 5px 5px 0;
    }

    .second-block {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .inside-block {
        width: 30%;
        justify-content: space-between;
    }

    .inside-block img {
        min-height: 158px;
    }

    .third-block {
        display: flex;
        width: 100%;
        max-height: 50vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        text-align: justify;
    }

    .lower-inside-block {
        margin: 5px 10px;
        max-width: 22%;
    }
}

@media screen and (min-width: 1024px) {

    body {
        width: 780px;
        margin: auto;
    }

}

